body.no-scroll {
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  color: #363636;
  padding: 220px 115px;
  padding-bottom: 0;
  font-style: normal;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .main {
    padding: 170px 20px;
    padding-bottom: 50px;
    gap: 6rem;
  }

}

.thinkingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 10;
  background-color: #ffffff;
}

.thinkingHero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 65vh;
  align-items: center;
  /* gap: min(5rem, 8cqb); */
}

.heroHeading {
  text-align: center;
}

.heroHeading h1 {
  color: #2D2D2D;
  font-size: var(--fs-100);
  font-family: benermeriahBold;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;

}

.heroHeading h2 {
  color: #2D2D2D;
  font-size: var(--fs-36);
  font-weight: 400;
  max-width: 13em;
  font-family: benermeriah;
  line-height: 51.75px;
}

.interImage {
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: relative;
  touch-action: none;
  width: 100%;
}

.thinkingFeature {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* gap: 2.5rem; */
}

.featureHeading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}



.featureHeading h4 {
  font-size: var(--fs-64);
  font-weight: bold;
  font-feature-settings: 'cpsp' on;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: benermeriahBold;
}

.featureHeading p {
  max-width: 24em;
  font-size: var(--fs-20);
  /* font-family: benermeriah; */

}

.thinkingMore {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.moreContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2.5rem;
}

.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.moreHeading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.moreHeading h4 {
  font-size: var(--fs-64);
  font-weight: bold;
  font-feature-settings: 'cpsp' on;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: benermeriahBold;
}

.moreHeading p {
  max-width: 24em;
  font-size: var(--fs-20);
  /* font-family: benermeriah; */

}

.moreWork {
  width: 100%;
}

.workGrid {
  gap: min(10vw, 8rem);
  grid-template-columns: repeat(3, 1fr);
  padding: 8rem 4rem 10rem;
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .workGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 0 0;

  }
}

.blogGrid {
  gap: min(10vw, 2rem);
  padding: 8rem 4rem 10rem !important;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blogWaiting {
  display: flex;
  flex-direction: column;
  padding: 10rem 4rem 10rem;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.blogWaiting .waitingMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.waitingMain .waitingText {
  font-size: var(--fs-24);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 960px) {
  .blogGrid {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 0 0;
  }

  .blogWaiting {
    padding: 42px 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .workInternalMain {
    padding: 1rem !important;
    gap: 1rem !important;
  }
  .popup{
    padding: 0px 10px 0 !important;
  }

}




.blogCard {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  background-color: #f7d4d7;
  /* Example pink color */
  border-radius: 15px;
  /* padding: 16px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* gap: 16px; */
  width: 41rem;
  height: 18rem;
  transform: scale(0.8);
  /* Default smaller scale */
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* Smooth scaling */
  opacity: 0.5;
}

.blogThumbnail {
  flex-shrink: 0;
  height: 18rem;
  width: 18rem;
  /* border-radius: 12px; */
  object-fit: cover;
  object-position: center;
  align-items: center;
  /* margin-right: 16px; Spacing between image and content */
}

.blogContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
  height: 100%;
}

.blogTitle {
  font-size: var(--fs-24);
  /* Black color for the heading */
  margin: 10px 0 8px;
  /* Spacing below the title */
}

.blogLower {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blogMeta {
  font-size: var(--fs-16);
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 10px;
}

.blogMeta span {
  display: inline-block;
  padding: 4px 8px;
  background: #fff;
  /* White background */
  border-radius: 4px;
  font-size: 12px;
}

.blogDescription {
  font-size: 16px;
  line-height: 1.5;
}



.project {
  display: grid;
  place-items: center;
  transform: scale(0.8);
  /* Default smaller scale */
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* Smooth scaling */
  opacity: 0.5;
  /* Default opacity for out-of-viewport items */
  width: 100%;
  --shadow: 0px 9px 21px rgba(0, 0, 0, 0.05), 0px 38px 8px rgba(0, 0, 0, 0.02),
  0px 0px 0px rgba(0, 0, 0, 0.0), 0px 1px 0px rgba(0, 0, 0, 0.005)
}

.project.active {
  transform: scale(1) !important;
  /* Scale up when in viewport */
  opacity: 1 !important;
  /* Full opacity when active */

}

.blogCard.active {
  transform: scale(1) !important;
  /* Scale up when in viewport */
  opacity: 1 !important;
  /* Full opacity when active */

}

.projectImage {
  border-radius: 1rem;
  grid-area: 1 / 1;
  transition: 1s scale linear(0,
      0.5737 7.6%,
      0.8382 11.87%,
      0.9463 14.19%,
      1.0292 16.54%,
      1.0886 18.97%,
      1.1258 21.53%,
      1.137 22.97%,
      1.1424 24.48%,
      1.1423 26.1%,
      1.1366 27.86%,
      1.1165 31.01%,
      1.0507 38.62%,
      1.0219 42.57%,
      0.9995 46.99%,
      0.9872 51.63%,
      0.9842 58.77%,
      1.0011 81.26%,
      1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectImage img {
  aspect-ratio: 1 / 1;
  border-radius: inherit;
  box-shadow: var(--shadow);
  -o-object-fit: cover;
  object-fit: cover;
  overflow: clip;
  transition: 0.8s scale linear(0,
      0.5737 7.6%,
      0.8382 11.87%,
      0.9463 14.19%,
      1.0292 16.54%,
      1.0886 18.97%,
      1.1258 21.53%,
      1.137 22.97%,
      1.1424 24.48%,
      1.1423 26.1%,
      1.1366 27.86%,
      1.1165 31.01%,
      1.0507 38.62%,
      1.0219 42.57%,
      0.9995 46.99%,
      0.9872 51.63%,
      0.9842 58.77%,
      1.0011 81.26%,
      1);
  width: 100%;
}

.projectImage img:hover {
  scale: 1.01;
}

/* .secondThumb{
  position: absolute;
  transform: rotate(-4.275207632779449deg);
  translate: 7.737706760863052px 30px;
} */

/* For multiple images (stacked appearance) */

.projectStack {
  border-radius: 1rem;
  grid-area: 1 / 1;
  transition: 1s scale linear(0,
      0.5737 7.6%,
      0.8382 11.87%,
      0.9463 14.19%,
      1.0292 16.54%,
      1.0886 18.97%,
      1.1258 21.53%,
      1.137 22.97%,
      1.1424 24.48%,
      1.1423 26.1%,
      1.1366 27.86%,
      1.1165 31.01%,
      1.0507 38.62%,
      1.0219 42.57%,
      0.9995 46.99%,
      0.9872 51.63%,
      0.9842 58.77%,
      1.0011 81.26%,
      1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectStack img {
  border-radius: 1rem;

  aspect-ratio: 1 / 1;
  border-radius: inherit;
  box-shadow: var(--shadow);
  -o-object-fit: cover;
  object-fit: cover;
  overflow: clip;
  transition: 0.8s scale linear(0,
      0.5737 7.6%,
      0.8382 11.87%,
      0.9463 14.19%,
      1.0292 16.54%,
      1.0886 18.97%,
      1.1258 21.53%,
      1.137 22.97%,
      1.1424 24.48%,
      1.1423 26.1%,
      1.1366 27.86%,
      1.1165 31.01%,
      1.0507 38.62%,
      1.0219 42.57%,
      0.9995 46.99%,
      0.9872 51.63%,
      0.9842 58.77%,
      1.0011 81.26%,
      1);
  width: 100%;
}

.projectStack img:nth-child(1) {
  z-index: 1;
  position: absolute;
  /* transform: rotate(-4.275207632779449deg); */
  /* translate: 7.737706760863052px 30px; */
}

.projectStack img:nth-child(2) {

  z-index: 0;
}

.wrapper {
  display: inline-block;
  position: relative;
  perspective: 1000px;
  width: 270px;
  /* Adjust as needed */
  /* height: 300px; Adjust as needed */
  margin-left: -5%;
}
@media screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
    margin-left: 0;
  }
  .heroContainer {
    height: 50vh;
  }
  
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-out;
  /* Smooth transition */
}

.wrapper img {
  aspect-ratio: 1 /1;
  border-radius: 1rem;
  width: clamp(6rem, 100%, 14cqi);
  box-shadow: 16px 22px 36.5px 0px rgba(0, 0, 0, 0.31);
  pointer-events: auto;
}

/* Fullscreen popup overlay */

.popup {
  position: fixed;
  /* Fixed to viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y: auto; Enable scrolling for long content */
  animation: fadeIn 0.3s ease;
  /* Optional fade-in animation */
  z-index: 99999999 !important;
  gap: 1rem;
  background-color: #0009;
}

.thinkingHeroBottom {
  display: flex;
  flex-direction: row;
}

.landing_circle {
  width: 9%;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 9%;
  right: 14%;
  /* opacity: 0; */
  /* transform: scale(0); */
  animation: popOut .5s ease-out forwards;
  animation-delay: 1.7s;
}


.dive_into_detail {
  position: absolute;
  bottom: -9%;
  left: 0;
  z-index: 10;
  transform: translateY(-30px);
}

@media screen and (max-width:960px) {
  .landing_circle {
    display: none;
  }

  .dive_into_detail {
    display: none;
  }

  .spectrum {
    align-self: center;
  }
}

@media screen and (min-width:1439px) {
  .landing_circle {
    right: 0% !important;
  }
}

@media screen and (min-width:960px) and (max-width:1215px) {
  .landing_circle {
    bottom: 13%;
    right: 5%;
  }
}

@media screen and (min-width:1215px) {
  .landing_circle {
    /* bottom: 12%; */
    top: 83%;
    right: 9%;
  }
}




.hidden {
  display: none;
}

/* Popup content styling */
.popupContent {
  background-color: #fff;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: 3rem 1fr;
  max-height: 95vh;
  /* Prevent overflow */
  height: 100%;
  overflow-y: scroll;
  /* Enable scrolling */
  padding: 1rem 0;
  /* scrollbar-width: thin; */
  scrollbar-color: transparent transparent;
  transform-origin: center 100vh;
  width: 100%;
  align-items: center;
  position: relative;
  overscroll-behavior: contain;
}



.workInternalHeader {
  display: flex;
  justify-content: end;
  padding: 0 var(--padding);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.closeButton {
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.1), 0px 38px 38px rgba(0, 0, 0, 0.09),
    0px 85px 51px rgba(0, 0, 0, 0.05), 0px 151px 60px rgba(0, 0, 0, 0.01);
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  padding: 0;
  pointer-events: auto;
  margin: 30px;
  width: 3rem;
  fill: RGBA(54, 54, 54, 1) !important;
  background-color: #fff !important;
}

.workInternalMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 0;
  justify-self: center;
  max-width: 860px;
  width: 100%;

}

.workHeadContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;


}

.workHeadContent .workTitle {
  width: 100%;
  font-size: var(--fs-64);
}

.workHeadContent h2 {
  font-size: var(--fs-64);
  font-weight: bold;
}

.workDescription {
  max-width: 24em;
  opacity: 0.6;
  font-size: var(--fs-20);
  transition: 0.4s opacity cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
}

.radioSection {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 50px;
}

.radioButton {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  background-color: #F3F1ED;
  border-radius: 8px;
  padding: 10px 12px;
}

.workCategory,
.blogCategory {

  background-color: #F3F1ED;
  border: none;
  border-radius: 50rem;
  color: #363636;
  font: 1rem / 1;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: 0.8s scale linear(0,
      0.5737 7.6%,
      0.8382 11.87%,
      0.9463 14.19%,
      1.0292 16.54%,
      1.0886 18.97%,
      1.1258 21.53%,
      1.137 22.97%,
      1.1424 24.48%,
      1.1423 26.1%,
      1.1366 27.86%,
      1.1165 31.01%,
      1.0507 38.62%,
      1.0219 42.57%,
      0.9995 46.99%,
      0.9872 51.63%,
      0.9842 58.77%,
      1.0011 81.26%,
      1),
    0.8s box-shadow linear(0,
      0.5737 7.6%,
      0.8382 11.87%,
      0.9463 14.19%,
      1.0292 16.54%,
      1.0886 18.97%,
      1.1258 21.53%,
      1.137 22.97%,
      1.1424 24.48%,
      1.1423 26.1%,
      1.1366 27.86%,
      1.1165 31.01%,
      1.0507 38.62%,
      1.0219 42.57%,
      0.9995 46.99%,
      0.9872 51.63%,
      0.9842 58.77%,
      1.0011 81.26%,
      1);
  width: -moz-fit-content;
  width: fit-content;
}

.hidden {
  display: none;
  /* Completely remove from layout */
}

.visible {
  display: block;
  /* Add to layout */
}

.workCategory.active,
.blogCategory.active {
  background: #fff;
  color: #000;
  border-radius: 8px;
}

.moreContainer,
.blogContainer {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.moreContainer.hidden,
.blogContainer.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}

.moreContainer.visible,
.blogContainer.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Popup grid for images */
.popupGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.popupGridItem img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Landscape image styling */
.popupGridItem.landscape {
  grid-column: span 3;
  /* Full-width image */
  border-radius: 8px;

  aspect-ratio: 16 / 9;
}

.popupLandscape {
  display: flex;
  justify-content: center;
  border-radius: 8px;

}

.landscapeImage {
  width: 100%;
  height: auto;
  aspect-ratio: 43/24;
  object-fit: cover;
  border-radius: 8px;
}

.popupSingleImage video {
  border-radius: 8px;
}

.landscapeVideo {
  border-radius: 8px;

}

/* Square image styling */
.popupGridItem.square {
  aspect-ratio: 1;
  /* Square aspect ratio */
  border-radius: 8px;

}

.popupContent h2 {
  margin-top: 10px;
  font-size: var(--fs-64);
}

.popupContent p {
  margin-top: 10px;
  color: #555;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Single Image Layout */
.popupSingleImage {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

.popupSingleImage .singleImage {
  width: 80%;
  height: auto;
  border-radius: 8px;
}

/* Two Images Layout */
.popupTwoImages {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  border-radius: 8px;
}

.popupTwoImages video {
  border-radius: 8px;

}

.popupTwoImages .twoImage {
  border-radius: 1rem;
  display: flex;
  position: relative;
  transform-origin: bottom;
  transition: 0.8s all linear(0,
      0.5737 7.6%,
      0.8382 11.87%,
      0.9463 14.19%,
      1.0292 16.54%,
      1.0886 18.97%,
      1.1258 21.53%,
      1.137 22.97%,
      1.1424 24.48%,
      1.1423 26.1%,
      1.1366 27.86%,
      1.1165 31.01%,
      1.0507 38.62%,
      1.0219 42.57%,
      0.9995 46.99%,
      0.9872 51.63%,
      0.9842 58.77%,
      1.0011 81.26%,
      1) 0.15s;
  width: 100%;
}

/* Grid Layout for More Than Two Images */
.popupGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.popupGridItem.square {
  aspect-ratio: 1;
  overflow: hidden;
}

.popupGridItem.landscape {
  grid-column: 1 / span 2;
  overflow: hidden;
}

.popupGridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.popupNavigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 98%;
  top: 50%;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateY(-50%);
  z-index: 10;
}

@media screen and (max-width: 960px) {
  .popupNavigation {
    width: 100%;
    position: relative;
  }
  /* Popup content styling */
.popupContent {
  max-height: 95vh;
  padding: 0;
  padding-bottom: 30px;
}


}

.arrowLeft,
.arrowRight {
  background: #363636;
  color: white;
  border-radius: 50%;
  border: none;
  /* padding: 10px 15px; */
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.arrowLeft:hover,
.arrowRight:hover {
  background: rgba(0, 0, 0, 0.8);
}


.curvedCarousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  padding: 50px 0;
  position: relative;
  cursor: grab;
  user-select: none;
  overflow: hidden;
}

.curvedCarousel:active {
  cursor: grabbing;
}

.carouselCard {
  flex: 0 0 auto;
  height: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.carouselCard img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
  user-select: none;
  pointer-events: none;
}

.carouselCard h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

/* Carousal */

.embla {
  max-width: 1000vw;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  background-color: bisque;
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}






.sliderContainer {
  height: 70vh;
  width: 100vw;
  /* overflow: hidden; */
  position: relative;
  /* background-color: #1d1e22; */
}

.sliderSection {
  bottom: 50%;
  position: absolute;
  width: 100%;
}

.wheel {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500vw;
  height: 500vw;
  /* max-width: 2000px; */
  /* max-height: 2000px; */
  left: 50%;
  transform: translateX(-50%);
}


.wheel__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.wheel__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 999;
  cursor: pointer;
  /* position: absolute; */
  will-change: transform;
  border-radius: 8px;
}

@media screen and (max-width:960px) {
  .wheel {
    width: 500vw;
    height: 500vw;
  }

  .wheel__card {
    width: 300px;
  }

  .sliderContainer {
    height: 50vh;
    overflow: hidden;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 60vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.header img {
  width: 40vw;
  height: 40vw;
  max-height: 350px;
  max-width: 350px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.buttonFeatureWorks {
  background-color: #000000;
  border: none;
  border-radius: 50rem;
  color: #ffffff;
  font: 1.2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: .8s scale linear(0, 0.5737 7.6%, 0.8382 11.87%, 0.9463 14.19%, 1.0292 16.54%, 1.0886 18.97%, 1.1258 21.53%, 1.137 22.97%, 1.1424 24.48%, 1.1423 26.1%, 1.1366 27.86%, 1.1165 31.01%, 1.0507 38.62%, 1.0219 42.57%, 0.9995 46.99%, 0.9872 51.63%, 0.9842 58.77%, 1.0011 81.26%, 1), .8s box-shadow linear(0, 0.5737 7.6%, 0.8382 11.87%, 0.9463 14.19%, 1.0292 16.54%, 1.0886 18.97%, 1.1258 21.53%, 1.137 22.97%, 1.1424 24.48%, 1.1423 26.1%, 1.1366 27.86%, 1.1165 31.01%, 1.0507 38.62%, 1.0219 42.57%, 0.9995 46.99%, 0.9872 51.63%, 0.9842 58.77%, 1.0011 81.26%, 1);
  width: -moz-fit-content;
  width: fit-content;

}