/* body {
    background: #EEF4FF;
    margin: 0;
    font-family: sans-serif;
    color: #333;
} */
.spacer {
    width: 100%;
    height: 50vh;
    background: #ddd;
}

.gallery h1 {
    font-size: 64px;
}

.gallery p {
    font-size: 36px;
    line-height: 1.4;
    color: grey;
}

.gallery {
    display: flex;
    /* outline:1px solid red; */

}

.gallery li {
    font-size: 24px;
    list-style-position: inside;
    margin-top: 10px;
    line-height: 60px;
}

.left {
    width: 50%;
}

.serviceSubHeading {
    position: absolute;
    width: max-content;

}

.right {
    height: 100vh;
    /* outline:1px solid purple; */
    width: 750px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: flex-start;
}

.desktopContent {
    margin: auto;
    width: 80%;
}

.desktopContentSection {
    /* min-height: 100vh; */
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid grey;
    /* outline:1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desktopContentSection ul{
    list-style-type: disc;

}

.desktopPhotos {
    width: 100%;
    /* aspect-ratio: 1 / 1; */
    /* border-radius: 20px; */
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    /* overflow: hidden; */
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); */
}

.imageAndHeadingContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 30px 115px;
    gap: 30px !important;
}

.service_main_heading {
    font-size: var(--fs-36);
    z-index: 11;
    display: flex;
    justify-content: left;
    background-color: transparent !important;
}
.mobileContent ul{
    font-size: var(--fs-24);
    list-style-position: inside;
}
.mobileHeading{
    padding-bottom: 30px;
}
@media screen and (min-width:320px) and (max-width:960px) {
  

    .service_main_heading {
        margin-top: 50px;
    }
}

.desktopPhoto {
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover;  */
    /* top: 0; */
    /* left: 0; */
    transition: opacity 0.3s ease;
}

.red {
    background: crimson;
}

.green {
    background: MediumSeaGreen;
}

.blue {
    background: dodgerblue;
}

.pink {
    background: deepPink;
}

/* small screen / mobile layout */
.mobileContent {
    display: none;
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
}
.mobileContent p{
    
        padding-top: 30px;
    
}

.mobilePhoto {
    width: 40%;
    display: flex;
    align-items: flex-start;
    
}


/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
    .left {
        display: none;
    }

    .right {
        height: auto;
        width: 100%;
        align-items: center;
        display: flex;
    }

    .desktopPhotos {
        display: none;
    }

    .mobileContent {
        display: block;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    
    
.mobileContent h1{
    font-size: var(--fs-64);
    padding-top: 40px;
}
.mobileContent p{
    font-size: var(--fs-36);
    line-height: 1.4;
    color: grey;
}
.mobileContent ul{
    font-size: var(--fs-24);
    list-style-position: inside;
    margin-top: 10px;
    line-height: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}
}